<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">
        <!--注解扫描-->
   <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
            <property name="converters">
                <list>
                    <bean class="cn.com.ssm.conversion.Conversion"></bean>
                </list>
            </property>
        </bean>
    <context:component-scan base-package="cn.com.ssm.controller"></context:component-scan>
    <context:component-scan base-package="cn.com.ssm.Iservice" />
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
                <property name="prefix" value="/WEB-INF/jsp"/>
                <property name="suffix" value=".jsp"/>
        </bean>
    <!-- 文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

        <!-- 设置上传文件的最大尺寸为5MB -->
        <property name="maxUploadSize">
            <value>5242880</value>
        </property>
    </bean>

    <!--<bean id="loginInteceper" class="cn.com.ssm.interceptor.LoginInterceptor"></bean>

   <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
       <property name="interceptors">
           <list>
               <ref bean="loginInteceper"/>
           </list>
       </property>
   </bean>-->

    <mvc:interceptors>
            <bean class="cn.com.ssm.interceptor.LoginInterceptor"></bean>
    </mvc:interceptors>

    <!--异常处理-->
      <!-- <bean class="cn.com.ssm.exception.AllExceptionResolver"></bean>-->

    <!--<bean id="helloWorld" class="cn.com.ssm.aop.HelloWorldImp"></bean>
    <bean id="timeHandle" class="cn.com.ssm.aop.TimeHandle"></bean>
    <aop:config>
        <aop:aspect id="time" ref="timeHandle">
            <aop:pointcut id="allMethod" expression="execution(* cn.com.ssm.aop.HelloWorld.*(..))"></aop:pointcut>
            <aop:before method="printTime" pointcut-ref="allMethod"></aop:before>
            <aop:after method="printTime" pointcut-ref="allMethod"></aop:after>
        </aop:aspect>
    </aop:config>-->

</beans>